# [Pandas] 일자(day)와 시간(hour) 합치기

* `to_timedelta`로 일자에 원하는 시간만큼 더하는 과정입니다.

### 참고 사이트
>[Pandas 'to_timedelta' Doc](https://pandas.pydata.org/docs/reference/api/pandas.to_timedelta.html)<br>
>[pandas: convert the number of the day and the hour, stack overflow](https://stackoverflow.com/questions/52281633/pandas-convert-the-number-of-the-day-and-the-hour)

데이터에서 일자와 시간이 따로 주어졌을 때, 합치는 방법을 알아봅시다.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# sample data
df = pd.DataFrame({'day' : [f'2021-04-{i}' for i in range(1, 31)], 'hour': np.random.randint(1,24, 30)})
df['day'] = pd.to_datetime(df['day'])

In [3]:
df.head()

         day  hour
0 2021-04-01     3
1 2021-04-02     9
2 2021-04-03    21
3 2021-04-04     1
4 2021-04-05    19

먼저 시간을 `to_timedelta`를 이용해서 변경합니다. 

`pandas.to_timedelta` 는 시간 차이를 나타내는 절대값으로 변경해줍니다(absolute differences in times).

In [4]:
pd.to_timedelta(df['hour'], unit='h').head()

0   0 days 03:00:00
1   0 days 09:00:00
2   0 days 21:00:00
3   0 days 01:00:00
4   0 days 19:00:00
Name: hour, dtype: timedelta64[ns]

변경한 시간과 일자를 더합니다.

In [5]:
df['after_day'] = df['day'] + pd.to_timedelta(df['hour'], unit='h')
df.head()

         day  hour           after_day
0 2021-04-01     3 2021-04-01 03:00:00
1 2021-04-02     9 2021-04-02 09:00:00
2 2021-04-03    21 2021-04-03 21:00:00
3 2021-04-04     1 2021-04-04 01:00:00
4 2021-04-05    19 2021-04-05 19:00:00

기존 일자에 일(day)을 더하는 과정도 동일합니다. `unit` 파라미터 부분만 변경합니다.

In [6]:
df['after_day_2'] = df['day'] + pd.to_timedelta(df['hour'], unit='d')
df.head()

         day  hour           after_day after_day_2
0 2021-04-01     3 2021-04-01 03:00:00  2021-04-04
1 2021-04-02     9 2021-04-02 09:00:00  2021-04-11
2 2021-04-03    21 2021-04-03 21:00:00  2021-04-24
3 2021-04-04     1 2021-04-04 01:00:00  2021-04-05
4 2021-04-05    19 2021-04-05 19:00:00  2021-04-24

또한, 뺄샘을 하면 해당 시간 차이만큼 과거로 이동합니다.

In [7]:
df['after_day_3'] = df['day'] - pd.to_timedelta(df['hour'], unit='d')
df.head()

         day  hour           after_day after_day_2 after_day_3
0 2021-04-01     3 2021-04-01 03:00:00  2021-04-04  2021-03-29
1 2021-04-02     9 2021-04-02 09:00:00  2021-04-11  2021-03-24
2 2021-04-03    21 2021-04-03 21:00:00  2021-04-24  2021-03-13
3 2021-04-04     1 2021-04-04 01:00:00  2021-04-05  2021-04-03
4 2021-04-05    19 2021-04-05 19:00:00  2021-04-24  2021-03-17